
.screen {
	width: 550px;
	height: 30px;
	background-color: black;
	border-radius: 20px 20px 0 0;
	position: absolute;
	top: 0;
}
.main {
    display: flex;
	align-items: center;
	justify-content: space-between;
    flex-direction: column;
}

.score {
    display: inline-block;
	margin-top: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: large;
    margin-bottom: 10px;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.box {
    display: flex;
    flex-wrap: wrap;
    width: 1140px;
    cursor: pointer;
}
/* .inner-box {
    background-color: blue;
} */
/* .inner-box:hover {
    background-color: aqua !important;
} */