* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.card {
    display: inline-block;
    height: 16vh;
    width: 100%;
    padding: 10px;
    background-color: yellowgreen;
    margin: 5px;
}
.para {
    font-weight: bold;
    font-size: 20px;
}
.components {
    margin: 5px;
    width: 600px;
}
.heading {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 15px;
}